.header{
  display: flex;
  justify-content: space-between;
}
.header img{
  width: 100px;
  padding-left: 20px;
}
.header ul{
  display: flex;
  padding: 0px 20px;
  font-size: 24px;
}
.header ul li{
  list-style-type: none;
  padding: 10px;
  margin: 15px;
}
/* .home{
  width: 1300px;
  margin: auto;
} */

input{
  width: 30%;
  padding: 10px 0;
  border-radius: 8px;
  outline: black;
  border: 2px solid black;
}
.login{
  font-size: 20px;
  height: 45px;
  padding: 10px;
  margin: 15px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
}